@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-advent-pro: "Advent Pro";
  --font-akshar: Akshar;

  /* font sizes */
  --font-size-26xl: 45px;

  /* Colors */
  --studio-darkmode-allwhite-ffffff: #fff;
  --color-gray-100: rgba(255, 255, 255, 0.3);
  --color-dimgray: rgba(104, 83, 83, 0.2);

  /* Paddings */
  --padding-21xl: 40px;
  --padding-5xl: 24px;
  --padding-4xs: 9px;
  --padding-450xl: 469px;
  --padding-2xs: 11px;
  --padding-base: 16px;

  /* border radiuses */
  --br-980xl: 999px;
}
